.destinations-item {

	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;

	&__overlay {

		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: transparentize($accent-1, 0.15);

		opacity: 0;

		transition: z-index 0.25s ease,
		            opacity 0.25s ease;

		.destinations-item:hover & {

			z-index: 1;
			opacity: 1;

		}

	}

	&__details {

		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 15px 15px 15px;

	}

	&__user,
	&__likes {

		color: $white;

		transform: translateY(20px);

		.destinations-item:hover & {

			transform: translateY(0);

		}

	}

	&__user,
	&__likes {

		line-height: 20px;
		text-decoration: none;

		opacity: 0;

		transition: opacity 0.35s ease,
		          transform 0.35s ease;

		.destinations-item:hover & {

			opacity: 0.8;

		}

		.destinations-item:hover &:hover {

			color: $white;

			opacity: 1;

		}

	}

	&__user {

		display: inline-block;
		margin-right: 80px;

	}

	&__likes {

		position: absolute;
		right: 15px;
		bottom: 15px;

		&:hover {

			svg {

				fill: $white;

			}

		}

		svg {

			display: inline-block;
			vertical-align: text-top;
			width: 18px;
			height: 15px;

			fill: transparent;
			stroke: $white;
			stroke-width: 5px;

			transition: fill 0.15s ease-in-out;

		}

	}

}
