.recommended-item {

	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	height: 0;
	padding-bottom: 32.5%;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	text-align: center;

	overflow: hidden;

	@media screen and (max-width: $mq-tab--lrg) {

		width: 50%;
		padding-bottom: 50%;

	}

	@media screen and (max-width: $mq-mob) {

		width: 100%;

	}

	&:hover {

		&:before {

			opacity: 1;

		}

	}

	&:before {

		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: transparentize($accent-1, 0.15);

		opacity: 0;

		transition: opacity 0.25s ease-in-out;

	}

	&__title,
	&__cta {

		position: absolute;
		right: 0;
		left: 0;

		margin-top: 0;
		margin-bottom: 0;

		color: $white;

	}

	&__title {

		bottom: 25px;

		text-transform: uppercase;

		transform: translateY(0);

		transition: color 0.3s,
		        transform 0.3s;

		.recommended-item:hover & {

			transform: translateY(-20px);

		}

	}

	&__cta {

		bottom: 20px;

		font-weight: $reg;

		line-height: 20px;
		text-decoration: none;

		transform: translateY(20px);

		opacity: 0;

		transition: opacity 0.35s ease 0.1s,
		          transform 0.35s ease 0.1s;

		.recommended-item:hover & {

			transform: translateY(0);
			opacity: 0.8;

		}

		.recommended-item:hover &:hover {

			color: $white;

			opacity: 1;

		}

	}

}
